.postBanner {
  height: 400px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.postContent {
  display: flex;
  flex-direction: column;
  margin: 80px auto;

  h1 {
    font-size: 3rem;
  }

  section {
    margin-top: 4rem;
    width: 100%;

    h2 {
      font-size: 2.25rem;
      font-weight: 700;
      line-height: 3.15rem;
      text-align: justify;
      margin-bottom: 3rem;
    }

    p {
      width: 100%;
      text-align: justify;
      color: var(--gray-300);

      & + p {
        margin-top: 2rem;
      }
    }
  }

  hr {
    margin: 3.75rem 0 3rem;
    border-top: 0px solid #d7d7d7;
    opacity: 0.1;
  }

  nav {
    margin-bottom: 5rem;

    .prevPost {
      float: left;
      text-align: left;
    }

    .nextPost {
      float: right;
      text-align: right;
    }

    h2 {
      font-weight: 400;
      font-size: 1.125rem;
      line-height: 1.36rem;
      color: var(--gray-200);
      margin-bottom: 0.5rem;
    }

    a {
      color: var(--pink-600);
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.125rem;
    }
  }
}

